@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/><br/>
    <h1 class="display-4">Vidly</h1>
    <p><strong>Your outdated source for entertainment.</strong></p>
    <br/>
    <p><img src="~/images/movie.jpg" class="img-fluid" style="border-radius: 100%; width: 45%; height: 45%;"/></p>
</div>
