@model IEnumerable<Vidly.Models.Movie>
@{
    ViewData["Title"] = "Movies";
}

<h1>Movies</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Name</td>
            </tr>
        }
    </tbody>
</table>

